#main{
    height:100%;
    width:100%;
    //background-image: url(../images/bg.jpg);
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    position: fixed;
    top:0;
    left:0;
}
/*背景*/
#bg{
    height:100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -10;
}
#bg-top,#bg-bottom{
    height:50%;
    width:100%;
    margin:0 auto;
}
#bg-top{
    height:360px;
    background: rgb(105,116,179);
    -webkit-box-shadow: inset 0 0 200px rgb(105,116,179);
    -moz-box-shadow: inset 0 0 200px rgb(105,116,179);
    box-shadow: inset 0 0 200px rgb(105,116,179);
}
#bg-bottom{
    background: rgb(29,37,86);
}

/*搜索框*/
.search-wrap{
    width:100%;
}
.search-box{
    width:766px;
    height:50px;
    margin:300px auto 0;
    border:1px solid rgb(29,37,86);
    position: relative;
    cursor: text;
    background: rgba(15,16,52,0.6);
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    -webkit-transition: border .6s;
    -moz-transition: border .6s;
    -ms-transition: border .6s;
    -o-transition: border .6s;
    transition: border .6s;
}
.search-box:hover{
    border:1px solid rgba(255,255,255,0.8);//rgb(105,116,179);
}
.search-input,.num-input{
    float: left;
    height:100%;
    font-size: 20px;
    color: white;
    text-align: center;
    background: rgba(0,0,0,0);
}
.search-input{
    width:calc(90% - 40px);
    margin-left: 20px;
}
.num-input{
    width:10%;
    color:greenyellow;
    border-left:1px solid rgb(29,37,86);
}
.description{
    color:white;
    width:100%;
    height:50px;
    text-align: center;
    margin-top:20px;
    opacity:0.5;
}

/*结果表格*/
.table-wrap{
    width:100%;
    min-width: 766px;
    height:calc(100% - 60px);
    margin:10px auto 0;
    background: rgba(255,255,255,1);
    padding:20px;
    display: none;
}
.table{
    opacity:0;
    margin-left:30px;
    //color:white !important;
}